@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body{
  height:100%;
}
/***Common styles***/
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  text-align: center;
}

.UI-Widgets, .Hamburger-Menu, #Lazy-load-area,.btn-popup-container,.paginate,.progress-bar-container{
  width: 50%;
  height: 50%;
  background-color: #fff9c4;
  position: relative;
  animation: 1s slide-in;
  font-family: 'Open Sans', sans-serif;
}

@keyframes slide-in{
    0%{
      opacity: 0.3;
    },
    100%{
      opacity: 1;
    }
  }

  @keyframes slide-from-top{
      0%{
        opacity: 0.3;
        transform: scaleY(0);
      },
      100%{
        opacity: 1;
        transform: scaleY(1);
      }
    }

.next-btn, .prev-btn{
  position: absolute;
  text-decoration: none;
  font-size: 3rem;
}

.next-btn {
  right: 0;
  top: 50%;
}

.prev-btn{
  left: 0;
  top: 50%;
}

/***Home page****/
.UI-Widgets{
  display: flex;
  justify-content: center;
  align-items: center;
}

/***Hamburger Menu***/
#menu-dropdown ul {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
}

#menu-icon{
  position: absolute;
  top: 15%;
  right: 20%;
}

#menu-dropdown{
  position: absolute;
  top: 25%;
  right: 25%;
  display: none;
  background: #efd2b0;
  padding: 5%;
  animation: 0.5s slide-from-top;
}

#menu-dropdown li a{
  text-decoration: none;
}

#menu-close{
  position: absolute;
  right: 0;
  top: 1%;
}

#menu-dropdown:target {
  display: block;
}

/****LazyLoad****/
#Lazy-load-area{
  overflow-y: scroll;
}

#lazy-load-list{
  list-style-type: none;
  width: 70%;
  margin: auto;
}

.list-item{
  height: 7rem;
}

.list-item:nth-child(odd){
  background-color: grey;
}

.list-item:nth-child(even){
  background-color: pink;
}

/****btn-popup-container - web Component****/

.img-placeholder{
  width: 50%;
  position: relative;
  cursor: pointer;
  margin: auto;
}

.img-placeholder img{
  width: 100%;
  height: 100%;
}

.img-placeholder:hover > button-popup{
  display: block;
}

button-popup{
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: none;
}

/**** Progress Bar ****/

.progressBar{
  height: 30px;
  width: 100px;
  background: grey;
  margin: auto;
}

.progress-icon{
  width: 1%;
  height: 100%;
  background-color: green;
}
