html, body{
  height:100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  text-align: center;
}

.Hamburger-Menu{
  width: 50%;
  height: 50%;
  background-color: beige;
  position: relative;
}

#menu-dropdown ul {
  list-style-type: none;
  text-decoration: none;
}

#menu-icon{
  position: absolute;
  top: 15%;
  right: 20%;
}

#menu-dropdown{
  position: absolute;
  top: 25%;
  right: 30%;
  display: none;
}

#menu-close{
  position: absolute;
  right: 0;
}

#menu-dropdown:target {
  display: block;
}
